//- block mainVars
doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"
    )

    block title
      - title = "VITE TEMPLATE";
      - description = ``;
      title= title
      meta(name="description", content=description)
      meta(property="og:description", content=description)

    - site_url = "";
    - og_image = site_url + "/ogp.png";
    - color = "";

    meta(name="description", content=description)

    meta(property="og:locale", content="ja_JP")
    meta(property="og:title", content=title)
    meta(property="og:type", content="website")
    meta(property="og:url", content=site_url)
    meta(property="og:description", content=description)
    meta(property="og:site_name", content=title)
    meta(property="og:image", content=og_image)
    meta(property="og:image:secure_url", content=og_image)
    meta(property="og:image:width", content="1200")
    meta(property="og:image:height", content="620")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:description", content=description)
    meta(name="twitter:title", content=title)
    meta(name="twitter:image", content=og_image)

    link(rel="icon", type="image/x-icon", href=`${site_url}/favicon.ico`)
    link(rel="shortcut icon", type="image/x-icon", href=`${site_url}/favicon.ico`)
    meta(name="msapplication-TileColor", content=color)
    meta(name="theme-color", content=color)
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin="")
    link(rel="stylesheet", href="./assets/sass/application.sass")
    //- link(rel="stylesheet", href="/assets/stylesheets/application.css.map")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.3.0/quicklink.umd.js")
    
  body
    main.default
      block content
    script(src="/assets/js/application.js", type="module")
